@media (max-width: 1200px) {
    .fresh-coffee {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  
    .fresh-coffee-img {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;
      border-radius: 12px;
    }
  
    .fresh-coffee-text {
      position: static !important;
      width: 100%;
      margin: 0;
      padding: 20px;
      text-align: center;
      background-color: #fcecd9;
      border-radius: 12px;
      margin-top: 20px;
    }
  
    .btn-b {
      position: static;
      margin-top: 20px;
    }
  }
  @media (max-width: 1400px) {
    .Strong-Coffee {
      display: flex !important;
      flex-direction: column !important;
      gap: 20px !important;
      align-items: center; 
    }
  
    .Strong-Coffee-img img,
    .Strong-Coffee-text {
      width: 100% !important;
    }
  
    .Strong-Coffee-text {
      position: static !important;
      margin: 0 !important;
      padding: 20px !important;
      background-color: #f6e1c5 !important;
      text-align: center;
      border-radius: 8px;
    }
  .Strong-Coffee-section{
    margin-bottom: 100px !important;
  }
  }
  
 
  