* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
}

.container-fluid{
    background-color: rgba(47, 23, 15, 0.9);
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.container-fluid button{
    background-color: rgba(255, 255, 255, 0.7);
}
.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
}
nav {   
    top: 0;
    width: 100%;
    z-index: 999; 
    background-color: rgba(47, 23, 15, 0.8);
}
.nav-link {
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #5a4309a9 !important;
  }
header{
    top: 0;
  text-align: center;
}

h1{
    color: #f6e1c5;
    font-size: 50PX;
    margin: 0;
    font-style: italic;
    
}
.hero {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
nav h4{
  color: rgba(255, 255, 255, 0.7) ;
}

.page-section{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bg-fimg{
  background-color: #f6e1c5;;
}
.fresh-coffee-img {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-left: 300px;
}

.fresh-coffee-text {
  position: absolute;
  top: 500px;
  width: 30%;
  height: 45%;
  background-color: #f6e1c5;
  padding: 20px;
  border-radius: 8px;
  left: 8;
}

.section-heading-lower{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
.section-heading-upper{
font-weight: 900;  
}
.btn-b{
  background-color: rgba(225, 128, 18, 0.86);
  color: black;
  border: none;
  font-size:15px;
  font-weight: 500;  
  padding: 20px 20px;
  position: static;
}
.p-fresh{
  font-weight: 300;
}

.footer{
  background-color: rgba(47, 23, 15, 0.9);
}
.text-center{
  text-align: center !important;
}
.py-5{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
footer p{
  line-height: 1.75;
  color: #f6e1c5;
}

.Strong-Coffee{
  position: relative;
}
.Strong-Coffee-text{
  position: absolute;
  top: 85%;
  left: 170PX;
  background-color: #f6e1c5;
  padding: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 1000px;
  text-align: start;
}
.Strong-Coffee-text h6{
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Strong-Coffee-text h2{
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.Strong-Coffee-section{
  margin-bottom: 400px;
}
.Strong-Coffee-text p{
  font-family: 'Times New Roman', Times, serif;
}
.products-drink-sweet p{
font-family: 'Times New Roman', Times, serif;
color:rgba(47, 23, 15, 0.9) ;
}
.products-drink-sweet h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgba(47, 23, 15, 0.9);
  background-color: #f6e1c5;
   padding: 20px 1px;

  }
  .products-drink-sweet h3 {
    margin-left: 0;
    margin-right: 0;
  }