@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
}

.container-fluid{
    background-color: rgba(47, 23, 15, 0.9);
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.container-fluid button{
    background-color: rgba(255, 255, 255, 0.7);
}
.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
}
nav {   
    top: 0;
    width: 100%;
    z-index: 999; 
    background-color: rgba(47, 23, 15, 0.8);
}
.nav-link {
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #5a4309a9 !important;
  }
header{
    top: 0;
  text-align: center;
}

h1{
    color: #f6e1c5;
    font-size: 50PX;
    margin: 0;
    font-family: "Cinzel", serif;
}
.hero {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
nav h4{
  color: rgba(255, 255, 255, 0.7) ;
}

.page-section{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bg-fimg{
  background-color: #f6e1c5;;
}
.fresh-coffee-img {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-left: 300px;
}

.fresh-coffee-text {
  position: absolute;
  top: 500px;
  width: 30%;
  height: 45%;
  background-color: #f6e1c5;
  padding: 20px;
  border-radius: 8px;
  left: 8;
}

.section-heading-lower{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}
.section-heading-upper{
font-weight: 900;  
}
.btn-b{
  background-color: rgba(225, 128, 18, 0.86);
  color: black;
  border: none;
  font-size:15px;
  font-weight: 500;  
  padding: 20px 20px;
  position: static;
}
.p-fresh{
  font-weight: 300;
}

.footer{
  background-color: rgba(47, 23, 15, 0.9);
}
.text-center{
  text-align: center !important;
}
.py-5{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
footer p{
  line-height: 1.75;
  color: #f6e1c5;
}

.our-promise-section{
  background-color:  rgba(230, 167, 86, 0.9);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-sizing: border-box;
}
.our-promise-section .container{
  background-color: #f6e1c5;
 padding: 70px;
  max-width: 1000px;
  border: 5px solid rgba(230, 167, 86, 0.9);
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
.our-promise-section h5{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
}
.our-promise-section h2{
  font-size: 45px;
  font-weight: 100;
}
.our-promise-section p{
  font-weight: 300;
}
.Strong-Coffee{
  position: relative;
}
.Strong-Coffee-text{
  position: absolute;
  top: 85%;
  left: 170PX;
  background-color: #f6e1c5;
  padding: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 1000px;
  text-align: start;
}
.Strong-Coffee-text h6{
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Strong-Coffee-text h2{
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.Strong-Coffee-section{
  margin-bottom: 400px;
}
.Strong-Coffee-text p{
  font-family: 'Times New Roman', Times, serif;
}
.products-drink-sweet p{
font-family: 'Times New Roman', Times, serif;
color:rgba(47, 23, 15, 0.9) ;
}
.products-drink-sweet h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgba(47, 23, 15, 0.9);
  background-color: #f6e1c5;
   padding: 20px 1px;

  }
  .products-drink-sweet h3 {
    margin-left: 0;
    margin-right: 0;
  }

  .store-section{
    background-color:  rgba(230, 167, 86, 0.9);
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
  }
  .store-section .container{
    background-color: #f6e1c5;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem 2rem;
    margin: 5rem auto;
    max-width: 1000px;
    border: 2px solid rgba(230, 167, 86, 0.9);
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.store-section ul {
  list-style-type: none;
  padding-left: 0;
}

.Store-section-titlle h5{
  font-weight: 900;
  font-size: 15px;
}
.Store-section-titlle h2{
  font-weight: 100;
  font-size: 50px;
}
.store-list li{
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
   
}
.store-list {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}

.store-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}
.store-list {
 padding-left: 200px !important;
 padding-right: 200px;
 font-style: italic;
 }
 .font-color{
  color: rgba(230, 167, 86, 0.9);
 }
 .store-section-street{
  padding: 3rem;
 }
 .store-section-street h3{
  font-size: 20px;
  font-weight: 600;
 font-family: Arial, Helvetica, sans-serif;
 }
 .store-section-street h4{
  font-size: 15px;
 font-weight: 400;
 }
 .store-section-call h6{
  font-size: 15px;
  font-weight: 400;
  }
 .store-section-call h5{
  font-weight: 300;
  font-style: italic;
 }